
<?xml version="1.0"?>

<model>
  <name>f35</name>
  <version>1.0</version>
  <sdf version="1.2">model-1_2.sdf</sdf>
  <sdf version="1.3">model-1_3.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">f35.sdf</sdf>

  <author>
    <name>your mom</name>
    <email>urmom@gay.org</email>
  </author>

  <description>
    A model of the F35.
  </description>

  <depend>
  </depend>
</model>